html {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /*------------ decoration body------------*/
  
  body{
      background-image: url(/images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: monospace;
    padding: 0;
    margin: 0;
  }
  /*------- logo portfolio-----------------*/
  
  .fixed{
    display: block;
    position: fixed;
    top:0;
    margin-bottom: 20px;
    background-color:  #5c8a8a;
    width:100%;
  }
  header{
    height:50px;
  }
  /*--------- navigation bar ---- ul -----------*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* overflow: hidden;*/
    
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:  #b3b3ff
  ;
  }
  
  .active {
    background-color:  #b3cccc;
  }
  /*--------footer----*/
.footerpage{
  background-color:   #293d3d  ;
}
#linktop-page{
text-align: right;
color: white;
font-size: 1rem;

}
.copyright{
  text-align: center;
  color: white;
  font-size: 1rem;
}
.titlebox{
  font-size: 2.5rem;
  text-align: center;
  color: #293d3d;
  font-family: 'Roboto', sans-serif;
}